@model IEnumerable<Data_Access_Layer.Models.DTO.ReferralDTO>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@{
    ViewData["Title"] = "ViewReferrals";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = Context.Request.Cookies["Username"];
    var create = TempData["created"] as string;
    var edit = TempData["edited"] as string;
    var delete = TempData["deleted"] as string;
    var notfoundedit = TempData["NotFoundEdit"] as string;
    var notfoundafter = TempData["NotFoundAfter"] as string;
    var serverafteredit = TempData["AfterEdit"] as string;
    var IdDelete = TempData["Idnull"] as string;
    var notfound = TempData["NotFound"] as string;
    var error = TempData["error"] as string;
}

<script>
    $(document).ready(function () {
        $(".delete-button").click(function (e) {
            e.preventDefault();

            var result = confirm("Are you sure you want to delete this item?");

            if (result) {
                var url = $(this).attr("href");
                window.location.href = url;
            }
        });
    });
</script>

@if (!string.IsNullOrEmpty(error))
{
    <script>
        var response = @Html.Raw(Json.Serialize(error));
        alert(response);
    </script>
}
@if (!string.IsNullOrEmpty(notfound))
{
    <script>
        var response = @Html.Raw(Json.Serialize(notfound));
        alert(response);
    </script>
}

@if (!string.IsNullOrEmpty(IdDelete))
{
    <script>
        var response = @Html.Raw(Json.Serialize(IdDelete));
        alert(response);
    </script>
}

@if (!string.IsNullOrEmpty(serverafteredit))
{
    <script>
        var response = @Html.Raw(Json.Serialize(serverafteredit));
        alert(response);
    </script>
}

@if (!string.IsNullOrEmpty(notfoundafter))
{
    <script>
        var response = @Html.Raw(Json.Serialize(notfoundafter));
        alert(response);
    </script>
}

@if (!string.IsNullOrEmpty(notfoundedit))
{
    <script>
        var response = @Html.Raw(Json.Serialize(notfoundedit));
        alert(response);
    </script>
}

@if(!string.IsNullOrEmpty(create))
{
    <script>
        var response = @Html.Raw(Json.Serialize(create));
        alert(response);
    </script>
}

@if(!string.IsNullOrEmpty(edit))
{
    <script>
        var response = @Html.Raw(Json.Serialize(edit));
        alert(response);
    </script>
}

@if (!string.IsNullOrEmpty(delete))
{
    <script>
        var response = @Html.Raw(Json.Serialize(delete));
        alert(response);
    </script>
}

@if (Model != null) {
    <h1>Referrals</h1>

    <table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Role
            </th>
            <th>
                Candidate Name
            </th>
            <th>
                Contact Details
            </th>
            <th>
                Referred By
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
    @if(item.RefEmployee == username)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ForRole)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CandidateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CandidateContact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RefEmployee)
                        </td>
                        <td>
                            <a asp-controller="HR" asp-action="EditReferral" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                            <a href="/HR/DeleteReferral?id=@item.Id" class="delete-button btn btn-danger">Delete</a>
                    </tr>
                }
            }
    </tbody>
    </table>
}
else
{
    <h2 style="color: red;">You are not authorized to view this, please Logout</h2>
    <a asp-controller="Admin" asp-action="AdminOpenings" class="btn btn-primary">View Openings</a>
}
